@use "../globals.scss" as vars;

#channel_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 30pt 0;
}

#channel_list_option {
  padding: 15pt 25pt;
  width: 150pt;
  margin: 1rem;
  color: vars.$black;

  overflow: hidden;

  border-collapse: collapse;
  border: 2pt solid vars.$white;
  border-radius: 10pt;
  background-color: vars.$color_secundary;

  &.selected {
    background-color: vars.$color_secundary_selected;
  }

  &:hover {
    opacity: 0.95;
    min-width: 150pt;
    background-color: vars.$color_secundary_hover;
    width: auto !important;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: vars.$white;
}
