@use "../globals.scss" as vars;

#channel_create {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  margin: 30pt 0;
}

#channel_create_input, #channel_join_input_user {
  width: 16rem;
  color: vars.$black !important;
}

#channel_create_btn, #channel_join_btn {
  background-color: vars.$color_primary;
  color: vars.$black;
  margin-top: 0.5rem;
  width: 10rem;
  font-size: 1rem;
  margin-left: 1rem;

  &:hover {
    background-color: vars.$color_primary_hover;
  }
}
