@use "../globals.scss" as vars;

#signin_input {
  background-color: vars.$white;
  width: 20rem;
}

#signin_btn {
  background-color: vars.$color_primary;
  color: vars.$black;
  margin-top: 2rem;
  width: 14rem;
  font-size: 1rem;
}

#signin_form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#signin_block {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;

  max-width: 400px;
  background-color: vars.$color_secundary;
  padding: 2rem;
  border-radius: 10pt;
  border: 1pt solid vars.$white;

  font-family: monospace;
  line-height: 1.6; 
  position: relative; 
}