@use "../globals.scss" as vars;

#signin_input {
  background-color: vars.$white;
  width: 20rem;
}

#signin_btn {
  background-color: vars.$color_primary;
  color: vars.$black;
  margin-top: 2rem;
  width: 21.6rem;
  font-size: 1rem;
}

#signin_form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#signin_block {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;

  max-width: 400px;
  background-color: vars.$color_secundary;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

  border-top: 50pt solid rgb(157, 81, 0) !important;

  font-family: monospace;
  line-height: 1.6; 
  position: relative; 
}